@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding-top: 100px;
}

h1 {
	font-size: 65px;
	line-height: 64px;
}

h2 {
	font-size: 30px;
	line-height: 35px;
	letter-spacing: .2px;
}

h1, h2, h3, a {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: #0E2E33;
}

p {
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .20px;
	font-weight: 300;
}

.text p {
	color: #F19874;
}

.intro-text p {
	margin-top: 20px;
}

a:link {
	color: #0E2E33;
	text-decoration: none;
}

a:hover {
	color: #F19874;
}

.social a:link {
	opacity: 0.5;
}

.social a:hover {
	opacity: 1;
}

.navbar {
	width: 100%;
	font-size: 13px;
	padding: 0% 0 2% 2%;
	position: fixed;
	background-color: #ffffff;
	top: 0;
	z-index: +1;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 15px auto;
}

.social {
	text-align: center;
}

.social li img {
	width: 22px;
}

.social li {
	list-style-type: none;
	display: inline-block;
}

.logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

.nav-links, .logo {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}

.navbar-toggle {
	position: absolute;
	top: 15px;
	right: 50px;
	cursor: pointer;
	color: #0E2E33;
	font-size: 18px;
}

.active {
	display: block;
}

.pattern img {
	width: 450px;
	transform: rotate(-90deg);
	position: relative;
	top: 50px;
	float: right;
	opacity: 0.1;
}

#intro-header {
	background-image: url("images/pattern-triangle.png");
}

.intro-text {
	width: 80%;
	padding: 0 7%;
}

.about-text {
	margin-top: 500px;
}

#projects {
	display: flex;
}

.block {
	flex-direction: column;
	margin: 0 auto;
	padding: 2%
}

.single-block {
	margin-top: 40px;
	width: 100%;
}

.single-block img {
	margin-bottom: 15px;
	width: 100%;
}

/* projects */

.florence {
	background-image: url("../images/Florence-mobile-768x650.jpg");
}

.greenlight {
	background-image: url("../images/greenlight-thumbnail-768x650.jpg");
}

.ganbei {
	background-image: url("../images/ganbei-768x650.jpg");
}

.treasure-chores {
	background-image: url("../images/treasurechores-thumbnail-768x400.jpg");
}

.making-biscuits {
	background-image: url("../images/makingbiscuits-hero-resize.jpg");
	background-size: cover;
}

.barkbistro {
	background-image: url("../images/barkbistro-768x400.jpg");
}

.dunwich {
	background-image: url("../images/dunwich-1920.jpg")
}

.billofrights {
	background-image: url("../images/BoR-768x400.jpg");
}

.interactive-book {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

#header-image {
	background-position: center;
	background-repeat: no-repeat;
	height: 650px;
	width: 100%;
	position: relative;
	top: 80px;
}

.text {
	position: relative;
	top: 80%;
	padding: 0 8%;
}

#scope {
	width: 100%;
	margin: 100px 0;
	padding: 100px 8% 50px 8%;
}

.process {
	width: 100%;
	padding: 0 8%;
}

#final {
	padding: 100px 8%;
	background-color: #C8E2E3;
	width: 100%;
}

.links {
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}

.process-images {
	margin: 100px 0;
	display: grid;
	grid-template-columns: 450px;
	grid-template-rows: auto;
	justify-content: center;
}

.process-images img {
	width: 100%;
	margin-top: 20px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .25);
}

.process-2 {
	width: 100%;
	padding: 0 8%;
}

.process-images-2 {
	margin: 100px 10%;
	display: grid;
	grid-template-columns: 450px;
	grid-template-rows: auto;
	justify-content: center;
}

.process-images-2 img {
	max-width: 100%;
	margin-top: 20px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .25);
}

.guidelines {
	width: 100%;
	margin: 100px 0;
}

.guidelines img {
	width: 100%;
}

#final .process-text {
	margin-bottom: 60px;
}

.final-images img {
	width: 100%;
	margin-top: 8px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .25);
}

.final-mobile {
	margin-top: 60px;
}

.final-mobile img {
	width: 100%;
}

footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 60px 0;
}

footer button {
	color: white;
    border-radius: 4px;
	padding: 20px 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #0E2E33;
	font-size: 14px;
}

footer button:hover {
	background-color: #F19874;
	color: #0E2E33;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {

	/* main */

	h1 {
		font-size: 100px;
		line-height: 96px;
	}

	h2 {
		font-size: 40px;
		line-height: 50px;
	}

	h3 {
		font-size: 28px;
	}

	p {
		font-size: 24px;
		line-height: 46px;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		padding: 2.5% 10%;
		height: 70px;
		align-items: center;
	}

	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.main-nav li {
		margin: 0 20px;
	}

	.nav-links {
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
	}

	.navbar-toggle {
		display: none;
	}

	.logo:hover, .nav-links:hover {
		color: #0E2E33;
	}

	.column {
		width: 50%;
	}

	#intro-header {
		width: 100%;
		margin-bottom: 40px;
		padding-left: 4%;
		padding-top: 70px;
	}

	.single-block {
		margin-bottom: 40px;
	}

	.pattern img {
		width: 700px;
		position: absolute;
		right: 10px;
	}

	.intro-text {
		position: inherit;
		align-self: center;
		width: 75%;
	}

	#projects {
		width: 100%;
		padding: 0 4%;
	}

	.block {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 5%;
	}

	.single-block {
		width: 49%;
		justify-content: center;
		margin: 0 auto 40px 0;
	}

	#header-image {
		position: relative;
		top: 80px;
	}

	.florence {
		background-image: url("../images/florence-1920-small.jpg");
	}

	.greenlight {
		background-image: url("../images/greenlight-branding-1920.jpg");
		background-size: cover;
	}

	.ganbei {
		background-image: url("../images/ganbei-1920.jpg");
		background-size: cover;
	}

	.treasure-chores {
		background-image: url("../images/treasurechores-1920.jpg");
		background-size: cover;
	}

	.barkbistro {
		background-image: url("../images/barkbistro-1920.jpg");
		background-size: cover;
	}

	.billofrights {
		background-image: url("../images/billofright-1920.jpg");
		background-size: cover;
	}

	.text {
		position: relative;
		top: 50%;
	}

	#scope {
		margin: 200px 0;
		padding: 2% 12%;
		text-align: center;
	}

	.process {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 200px 0;
	}

	.process-2 {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 200px 0;
	}

	.process-text {
		width: 50%;
		margin-left: 8%;
	}

	.process-images {
		width: 50%;
		display: grid;
		grid-template-columns: 400px 400px;
		grid-template-rows: auto;
		margin: 0;
	}

	.process-images img {
		width: 95%;
		margin: 8px;
	}

	.guidelines img {
		width: 100%;
	}

	.process-text-2 {
		width: 50%;
		margin-right: 8%;
	}

	.process-images-2 {
		width: 50%;
		display: grid;
		grid-template-columns: 400px 400px;
		grid-template-row: auto;
		margin: 0 auto;
	}

	.process-images-2 img {
		width: 95%;
		margin: 8px;
	}

	.guidelines {
		margin: 0;
	}

	#final {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#final .process-text {
		text-align: justify;
		margin: 0 auto;
		width: 80%;
	}

	.links {
		margin-top: 100px;
	}

	.final-images {
		text-align: center;
		margin-top: 60px;
	}

	.final-images img {
		width: 40%;
		padding: 8px;
	}

	.sub-head {
		margin: 5% 0 0 10%;
	}

	.final-mobile {
		text-align: center;
	}
}
